.Greeting {
    display:block;
    outline:none;
    border:none;
    background-color:inherit;
    color:inherit;
    padding:3% 2%;
    
}
.Greeting:focus{
    background-color:rgb(142, 177, 142);
    border-radius:5%;
}
p{
    text-align: center;
}
.sizeTitle{
    font-size:100%;
    text-align: center;
}
