.Section{
    display:flex; 
    flex-direction: column; 
    background-color:rgb(162, 201, 162);
    width:60%;
    margin:auto;
    font: Arial, Gill Sans, sans-serif;
}


.Row{
    padding: 3% 10%;
    display: inline-block;
    color:white;
    font-size:180%;
    border-style:solid;
}

.labelContainer {
    font-size:30%;
    padding:2%
}
.children{
    display: contents;
}
